<div class="container mt-5 text-center">

<h2>Log in</h2>
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= form_with(scope: :session, url: login_path, class:"shadow p-3 mb-3 rounded", local: true, data: { turbo: false }) do |f| %>
                <div class="row form-group">
                        <%= f.label :email, class:"col-2 col-form-label form-label-text fw-bold" %><br>
                        <div class="col-10">
                            <%= f.email_field :email, class:"form-control mt-3 shadow",placeholder:"Enter your email address" %>
                        </div>
                </div>

                <div class="row form-group">
                    <%= f.label :password, class:"col-2 col-form-label form-label-text fw-bold" %><br>
                    <div class="col-10">
                        <%= f.password_field :password, class:"form-control mt-3 shadow",placeholder:"Enter your password" %>
                    </div>
                </div>

                        <%= f.submit'Login', class:"btn btn-article btn-lg mt-3" %>
                        
            </div>
        </div>
        <% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

</div>