<h1>Edit article</h1>

<% if @article.errors.any? %>
    <h3>The following errors prevented your article edits from saving:</h3>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @article, local: true, data: { turbo: false }) do |f| %>
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</p>

<p>
    <%= f.submit %>
</p>
<% end %>
