<h2 class="text-center mt-5"><%= @article.title %></h2>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="card text-center mt-4 shadow rounded">
        <div class="card-header fst-italic">
          Author: Freya Watkins
        </div>
        <div class="card-body">
          <div class="card-text text-start"><td><%= simple_format(@article.description) %></td></div>
          <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-sm btn-outline-success" %>
          <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-sm btn-outline-danger" %>
          <%= link_to 'Back to Articles List', articles_path, class:"btn btn-sm btn-outline-secondary" %>
        </div>
        <div class="card-footer text-body-secondary text-center card-text">
          <small>
            Created <%= time_ago_in_words(@article.created_at) %> ago,
            edited <%= time_ago_in_words(@article.updated_at) %> ago
          </small>
        </div>
      </div>
    </div>
  </div>


</div>