<% if @category.errors.any? %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h4 class="alert-heading">The following errors prevented the category from saving:</h4>
        <% @category.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= form_with(model: @category, local: true) do |form| %>
  <!-- Your form fields here -->
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  
  <%= form.submit 'Create Category', class: 'btn btn-primary' %>
<% end %>
